header, footer{
    background-color: grey;
    width: 100%;
    height: 10%;
}
section{
    width: 50%;
    height: 80%;
}
#noticias{
    background-color: rgb(209,214,214);
    align-self: left;
    margin-left: 0%;
}
#anuncios{
    background-color: rgb(173, 173, 173);
    align-self: right;
    margin-right: 0%;
}
